
@font-face {
    font-family: 'bauhs93';
    src: url('../fonts/BAUHS93.TTF');
}
.adds-slide{
    width: 100%;
    height: 50px;
    /*background-color: #999;*/
    background-size: 40%;
    background-position: center center;
    /*margin-bottom: 15px;*/
    background-repeat: no-repeat;
}
.adds-wrap{
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
}
.adds-bg{
    background-color: #ecebea;
}
.adds-wrap-img{
    height: 120px;
    width:70%;
    white-space: nowrap;    
    text-align: center;
    margin: 2.3em 0;
}
img.adds-img{
    /*width:100px;*/
    display: inline-block;
    vertical-align: middle; 
    /*line-height: 120px;*/
    max-height: 100px;
    max-width: 150px;
}

.our-partners-bg{
    height: 120px;
    background-color: #037031;
}
.our-partners{
    font-family: bauhs93;
    color: #ffffff;
    font-size: 28px;
    line-height: 120px;
    /*padding: 5px 0;*/
    text-align: center;
    /*vertical-align: text-top;*/
}

/* jssor slider bullet navigator skin 03 css */
/*
.jssorb03 div           (normal)
.jssorb03 div:hover     (normal mouseover)
.jssorb03 .av           (active)
.jssorb03 .av:hover     (active mouseover)
.jssorb03 .dn           (mousedown)
*/
.jssorb03 {
    position: absolute;
}
.jssorb03 div, .jssorb03 div:hover, .jssorb03 .av {
    position: absolute;
    /* size of bullet elment */
    width: 21px;
    height: 21px;
    text-align: center;
    line-height: 21px;
    color: white;
    font-size: 12px;
    background: url('img/b03.png') no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb03 div { background-position: -5px -4px; }
.jssorb03 div:hover, .jssorb03 .av:hover { background-position: -35px -4px; }
.jssorb03 .av { background-position: -65px -4px; }
.jssorb03 .dn, .jssorb03 .dn:hover { background-position: -95px -4px; }

/* jssor slider arrow navigator skin 03 css */
/*
.jssora03l                  (normal)
.jssora03r                  (normal)
.jssora03l:hover            (normal mouseover)
.jssora03r:hover            (normal mouseover)
.jssora03l.jssora03ldn      (mousedown)
.jssora03r.jssora03rdn      (mousedown)
*/
.jssora03l, .jssora03r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 55px;
    height: 55px;
    cursor: pointer;
    background: url('img/a03.png') no-repeat;
    overflow: hidden;
}
.jssora03l { background-position: -3px -33px; }
.jssora03r { background-position: -63px -33px; }
.jssora03l:hover { background-position: -123px -33px; }
.jssora03r:hover { background-position: -183px -33px; }
.jssora03l.jssora03ldn { background-position: -243px -33px; }
.jssora03r.jssora03rdn { background-position: -303px -33px; }


@media(max-width:991px) {
    .our-partners{
        line-height: 50px;
    }
    .our-partners-bg{
        height: 50px;
    }
}