body{
  color: var(--main-font-color);
}
.container{
 /*width: 500px;*/
 /*margin: auto;*/
}
.center{
	text-align: center;
}
.req{
	color: #FF0000;
}
.panel {
    margin-bottom: 20px;
    background-color: #c5c4c4;
    border: 1px solid transparent;
     border-radius: 0px; 
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.gmaps iframe{
	width: 100%;
	height: 350px;
}
.search-bar{
	min-height: 20px;
	padding: 19px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #037031;
	color: #ffffff;
}
.t-area-v{
	resize: vertical;
}
.app-modal-view .modal-dialog {
  	width: 95%;
}
.panel-modal {
    margin-bottom: 0px;    
}
.modal-h{
	min-height: 500px;
}
.modal-h1{
	min-height: 300px;
}
.r-s{
	float: right;
}
.pad-space{
	padding: 15px 15px 15px 15px;
}
.pad-top{
	padding-top: 15px;
}
.adds-bg{
	height: 120px;
	background-color: #037031;
}
.adds-wrap-img{
	height: 120px;
	width:70%;
	white-space: nowrap;    
    text-align: center;
    margin: 2.3em 0;
}
img.adds-img{
	/*width:100px;*/
	display: inline-block;
    vertical-align: middle; 
	/*line-height: 120px;*/
	max-height: 100px;
    max-width: 150px;
}

.our-partners{
	font-family: bauhs93;
	color: #ffffff;
	font-size: 28px;
	line-height: 120px;
	/*padding: 5px 0;*/
    text-align: center;
    /*vertical-align: text-top;*/
}
.c-white{
	color: #ffffff;
}
.realty-title{
	color: #ffffff;
	font-weight: 200;
	width: 100%;
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.3);
}
.realty-details{
	color: #ffffff;
	font-weight: 200;
	width: 50%;
	height: 100%;
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.3);
}

.realty-list{
	width: 100%;
	height: 300px;
	background-color: #999;
	background-size: cover;
	background-position: center center;
	margin-bottom: 15px;
}

.header-logo{
	width: 100%;
	background-color: #2ecd71;
}
.navbar-inverse{
	background-color: #037031;
    border-color: #2ecd71;
}
.navbar-brand{
	color: #FFFFFF;
	float: left;
    /* height: 50px; */
    padding: 5px 15px;
    font-size: 18px;
    /* line-height: 20px; */
}
.navbar-inverse .navbar-nav>li>a {
    color: #FFFFFF;
}
.navbar-inverse .navbar-toggle {
    border-color: #ffffff;
}

footer{
	margin:0px;
}
.footer{
	color: #ffffff;
	border-top: 1px #2ecd71;
 	width:100%;
	/*height:100px;*/
	bottom:0;
	left:0;
}
.footer a{
	color: #ffffff;
}
@media(max-width:768px) {
	.app-modal-view .modal-dialog {
		width: auto;
	}
}

@media (max-width: 767px){
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
		color: #ffffff;
	}
}
