
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-info panel-modal">
      <div class="panel-heading">
        Add Real States
      </div>
      <div class="panel-body modal-h">
        <alert ng-repeat="alert in alerts" type="{[{alert.type }]}" close="closeAlert($index)">{[{ alert.msg }]}</alert>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#details" data-toggle="tab" aria-expanded="true">
              Details <i class="req">*</i>
            </a>
          </li>
          <li class="">
            <a href="#description" data-toggle="tab" aria-expanded="false">
              Description <i class="req">*</i>
            </a>
          </li>
          <li class="">
            <a href="#images" data-toggle="tab" aria-expanded="false">
              Images <i class="req">*</i>
            </a>
          </li>
          <li class="">
            <a href="#others" data-toggle="tab" aria-expanded="false">
              Others <i class="req">*</i>
            </a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane fade active in" id="details">
            <div class="form-group">
              <label>Title <i class="req">*</i></label>
              <input class="form-control" name="" id="" ng-model="data.title">
            </div>
            <div class="form-group">
              <label>Address <i class="req">*</i></label>
              <input class="form-control" name="" id="" ng-model="data.address">
            </div>                     
            <div class="form-group">
              <label>Category <i class="req">*</i></label>
              <select class="form-control" name="" id="" ng-model="data.category">
                <option ng-repeat="catList in catList" value="{[{catList.id}]}">
                  {[{catList.type}]}
                </option>                
              </select>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-6">              
                  <label>Original Price <i class="req">*</i></label>
                  <input class="form-control" name="" id="" ng-model="data.orig_price" numbers-only>
                </div>
                <div class="col-sm-6">
                  <label>Discounted Price</label>
                  <input class="form-control" name="" id="" ng-model="data.discounted_price" numbers-only>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="description">
            <div class="form-group">
              <label>Discription <i class="req">*</i></label>
              <text-angular ng-model="data.description"></text-angular>
            </div>  
          </div>
          <div class="tab-pane fade" id="images">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group pad-space">
                  <button type="button" 
                  class="btn btn-primary btn-sm r-s" 
                  ngf-select="browseFiles(files)" 
                  ng-model="files" 
                  ngf-multiple="true"
                  ngf-pattern="'image/*'"
                  ngf-accept="'image/*'">
                    <i class="fa fa-image"></i> Browse Images
                  </button>
                </div>            
              </div>
              <div class="col-sm-6 pad-top" ng-repeat="imgFiles in imgFiles">
                <img class="img-responsive img-portfolio img-hover" 
                ngf-thumbnail="imgFiles" alt=""> 
                <!-- <p class="help-block"></p>  -->
                <h6 ng-bind="imgFiles.name"><small>Sub-heading</small></h6>          
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="others">
            <div class="form-group">
              <label>Paste Latitude and Longitude <i class="req">*</i></label>
              <input class="form-control" placeholder="Latitude, Longitude" ng-model="data.map" ng-change="pasteMap(data)">              
            </div> 
            <div class="form-group" ng-show="showMap">
                <div id="googleMapProp" style="width:100%;height:280px;">                    
                </div>
            </div>
          </div>
        </div>  
      </div>      
      <div class="panel-footer">
        <button type="button" ng-click="close()" class="btn btn-default btn-sm">Close</button>       
        <button type="button" ng-click="save(data,imgFiles,'0')" class="btn btn-dark btn-sm">Draft</button>          
        <button type="button" ng-click="save(data,imgFiles,'1')" class="btn btn-success btn-sm">POST</button>       
      </div>
      
    </div>
  </div>                
</div>


