
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-info panel-modal">
      <div class="panel-heading">
        Add Images <label class="r-s" ng-click="close()"><i class="fa fa-times-circle-o"></i></label>
      </div>
      <div class="panel-body modal-h">        
        <div class="col-md-4 col-sm-6" ng-repeat="x in imgFiles">
          <label ng-if="percent"><span ng-bind="percent"></span>% Uploaded</label>
          <label class="r-s" ng-click="remove(x)"><i class="fa fa-times-circle-o"></i></label>
          <img class="img-responsive img-portfolio img-hover" ngf-thumbnail="x" alt=""> 
        </div>   
      </div>      
      <div class="panel-footer">
        <button type="button" ng-click="close()" class="btn btn-default btn-sm">Close</button>  
        <button type="button" ng-click="uploadImages(imgFiles,itemID)" class="btn btn-success btn-sm r-s">Upload</button>  
      </div>      
    </div>
  </div>                
</div>


