
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-info panel-modal">
      <div class="panel-heading">
        Create Adds
      </div>
      <div class="panel-body modal-h">
        <alert ng-repeat="alert in alerts" type="{[{alert.type }]}" close="closeAlert($index)">{[{ alert.msg }]}</alert>

        <div class="row">
          <div class="col-sm-7">
            <div class="form-group">
              <label>Title <i class="req">*</i></label>
              <input class="form-control" name="" id="" ng-model="data.title">
            </div>
            <div class="form-group">
              <label>Discription <i class="req">*</i></label>
              <text-angular ng-model="data.description"></text-angular>
            </div> 
          </div>
          <div class="col-sm-5">
            <div class="form-group">
              <button type="button" 
              class="btn btn-primary btn-sm r-s" 
              ngf-select="browseImage(files)" 
              ng-model="files" 
              ngf-multiple="false"
              ngf-pattern="'image/*'"
              ngf-accept="'image/*'">
                <i class="fa fa-image"></i> Browse Images
              </button>
              <p></p>
            </div>
            <div class="form-group">
            <img class="img-responsive img-portfolio img-hover t-p" 
              ngf-thumbnail="imgFiles" alt=""> 
            </div>
            
          </div>
        </div>
      </div>  
    </div>      
    <div class="panel-footer">
      <button type="button" ng-click="close()" class="btn btn-default btn-sm">Close</button>
      <button type="button" ng-click="saveAdds(data,imgFiles,'1')" class="btn btn-success btn-sm">Save Adds</button>       
    </div>

  </div>
</div>  


