
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-danger panel-modal">
      <div class="panel-heading">
        <i class="fa fa-trash-o"></i> Delete Image
      </div>
      <div class="panel-body">        
        <p>Delete image?</p>
      </div>      
      <div class="panel-footer">
        <button type="button" ng-click="close()" class="btn btn-default btn-sm">No</button>  
        <button type="button" ng-click="ok(item)" class="btn btn-danger btn-sm r-s">Yes</button>  
      </div>
      
    </div>
  </div>                
</div>


