
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-danger panel-modal">
      <div class="panel-heading">
        <i class="fa fa-trash-o"></i> Delete
      </div>
      <alert ng-repeat="alert in alerts" type="{[{alert.type }]}" close="closeAlert($index)">{[{ alert.msg }]}</alert>
      <div class="panel-body">        
        <p>Delete <span ng-bind="item.type"></span>?</p>
      </div>      
      <div class="panel-footer">
        <button type="button" ng-click="close()" class="btn btn-default btn-sm">No</button>  
        <button type="button" ng-click="ok(item)" class="btn btn-danger btn-sm r-s">Yes</button> 
      </div>
      
    </div>
  </div>                
</div>


