
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-warning panel-modal">
      <div class="panel-heading">
        Edit Real States <label class="r-s" ng-click="close()"><i class="fa fa-times-circle-o"></i></label>
      </div>
      <div class="panel-body modal-h">        
        <alert ng-repeat="alert in alerts" type="{[{alert.type }]}" close="closeAlert($index)">{[{ alert.msg }]}</alert> 

        <ul class="nav navbar-top-links navbar-right">             
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-gear fa-fw"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
              <li ng-if="data.status == 1">
                <a href="#" ng-click="markAs(data.real_state_id,'2')">Sold</a>
              </li>
              <li ng-if="data.status == 1">
                <a href="#" ng-click="markAs(data.real_state_id,'0')">Draft</a>
              </li>
              <li ng-if="data.status != 1">
                <a href="" ng-click="markAs(data.real_state_id,'1')">Post</a>
              </li>
            </ul>
            <!-- /.dropdown-user -->
          </li>
          <!-- /.dropdown -->
        </ul>

        <!-- Nav tabs -->  
        <ul class="nav nav-tabs">
          <li class="active"><a href="#details" data-toggle="tab" aria-expanded="true">Details <i class="req">*</i></a>
          </li>
          <li class=""><a href="#description" data-toggle="tab" aria-expanded="false">Description <i class="req">*</i></a>
          </li>
          <li class=""><a href="#images" data-toggle="tab" aria-expanded="false">Images <i class="req">*</i></a>
          </li>
          <li class=""><a href="#others" data-toggle="tab" aria-expanded="false">Others <i class="req">*</i></a>
          </li>
          <li class="">
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane fade active in" id="details">  
            <div class="col-sm-12 t-m" ng-if="onEdit==false">
              <a href="" class="r-s" ng-click="edit()"><i class="fa fa-edit"></i> Edit</a>
            </div>
            <div class="col-sm-12 t-m" ng-if="onEdit">
              <a href="" class="r-s" ng-click="cancelEdit()"><i class="fa fa-times"></i> Cancel</a>  
              <a href="" class="r-s r-m" ng-click="saveChangeDetails(data)"><i class="fa fa-check"></i> Save</a>
            </div>
          
            <div ng-if="onEdit">
              <div class="form-group">
                <label>Title <i class="req">*</i></label>
                <input class="form-control" name="" id="" ng-model="data.title">
              </div>
              <div class="form-group">
                <label>Address <i class="req">*</i></label>
                <input class="form-control" name="" id="" ng-model="data.address">
              </div>                     
              <div class="form-group">
                <label>Category <i class="req">*</i></label>
                <select class="form-control" name="" id="" ng-model="data.category">
                  <option ng-repeat="catList in catList" value="{[{catList.id}]}">
                    {[{catList.type}]}
                  </option>
                </select>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-6">              
                    <label>Original Price <i class="req">*</i></label>
                    <input class="form-control" name="" id="" ng-model="data.orig_price" numbers-only>
                  </div>
                  <div class="col-sm-6">
                    <label>Discounted Price</label>
                    <input class="form-control" name="" id="" ng-model="data.discounted_price" numbers-only>
                  </div>
                </div>
              </div>
            </div>
          
            <div ng-if="onEdit==false">
              <div class="form-group">
                <label>Title</label>
                <p ng-bind="data.title"></p>
              </div>
              <div class="form-group">
                <label>Address</label>
                <p ng-bind="data.address"></p>
              </div>                     
              <div class="form-group">
                <label>Category</label>
                <p ng-bind="data.category"></p>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-6">              
                    <label>Original Price</label>
                    <p ng-bind="data.orig_price | number"></p>
                  </div>
                  <div class="col-sm-6">
                    <label>Discounted Price</label>
                    <p ng-bind="data.discounted_price | number"></p>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="tab-pane fade" id="description">     
            <div class="col-sm-12 t-m" ng-if="onEditDesc==false">
              <a href="" class="r-s" ng-click="editDesc()"><i class="fa fa-edit"></i> Edit</a>
            </div>
            <div class="col-sm-12 t-m" ng-if="onEditDesc">
              <a href="" class="r-s" ng-click="cancelEditDesc()"><i class="fa fa-times"></i> Cancel</a>  
              <a href="" class="r-s r-m" ng-click="saveChangeDesc(data)"><i class="fa fa-check"></i> Save</a>
            </div>
            <div class="form-group" ng-if="onEditDesc">
              <label>Discription <i class="req">*</i></label>
              <text-angular ng-model="data.description"></text-angular>
            </div>  
            <div class="form-group" ng-if="onEditDesc==false">
              <label>Discription</label>
              <p ng-bind-html="data.description"></p>
            </div>  
          </div>
          <div class="tab-pane fade" id="images">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group pad-space">
                <button type="button" 
                  class="btn btn-primary btn-sm r-s" 
                  ngf-select="addImage(files,data.real_state_id)" 
                  ng-model="files" 
                  ngf-multiple="true"
                  ngf-pattern="'image/*'"
                  ngf-accept="'image/*'">
                    <i class="fa fa-plus"></i> Add Images
                  </button><br><br>
                </div>            
              </div>
              <div class="col-md-4 col-sm-6" ng-repeat="x in imgFiles">
                <div class="realty-list" style="background-image: url('../../public/uploads/{[{x.real_state_id}]}/{[{x.file_name}]}');"> 
                <a href="" class="dlt" ng-click="deleteImage(x)"><i class="fa fa-times-circle-o"></i></a>       
                </div>              
              </div>              
            </div>
          </div>
          <div class="tab-pane fade" id="others">
            <div class="col-sm-12 t-m" ng-if="onEditMap==false">
              <a href="" class="r-s" ng-click="editMap()"><i class="fa fa-edit"></i> Edit</a>
            </div>            
            <div class="col-sm-12 t-m" ng-if="onEditMap">
              <a href="" class="r-s" ng-click="cancelEditMap()"><i class="fa fa-times"></i> Cancel</a>  
              <a href="" class="r-s r-m" ng-click="saveChangeMap(data)"><i class="fa fa-check"></i> Save</a>
            </div>
            <div class="form-group" ng-if="onEditMap">
              <label>Paste Latitude and Longitude <i class="req">*</i></label>
              <input class="form-control" placeholder="Latitude, Longitude" ng-model="data.map" ng-change="pasteMap(data)">              
            </div> 
            <div class="form-group" ng-show="showMap">
                <div id="googleMapProp" style="width:100%;height:280px;">                    
                </div>
            </div>
          </div>
        </div>  
      </div>      
      <div class="panel-footer">
        <button type="button" ng-click="close()" class="btn btn-default btn-sm">Close</button>   
      </div>
      
    </div>
  </div>                
</div>


