
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-info panel-modal">
      <div class="panel-heading">
        Category
      </div>
      <div class="panel-body modal-h">
        <alert ng-repeat="alert in alerts" type="{[{alert.type }]}" close="closeAlert($index)">{[{ alert.msg }]}</alert>
        
        <label>Category Name <i class="req">*</i></label>
        <div class="row">
          <div class="col-sm-8">
            <div class="form-group">
              <input class="form-control" name="" id="" ng-model="datacat.type">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group" ng-if="onCatUpdate==false">
              <button type="button" ng-click="addCategory(datacat)" class="btn btn-success btn-sm">Add</button>
            </div>
            <div class="form-group" ng-if="onCatUpdate">
              <button type="button" ng-click="updateCategory(datacat)" class="btn btn-success btn-sm">Update</button>
              <button type="button" ng-click="editCancel()" class="btn btn-default btn-sm">Cancel</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <ul class="list-unstyled">
              <li ng-repeat="x in list">
                <div class="col-sm-8">                
                  <p ng-bind="x.type"></p>
                </div>
                <div class="col-sm-4">  
                  <ul class="list-inline">
                    <li>
                      <a href="" ng-click="editCat(x)" title="Edit"><i class="fa fa-edit"></i></a>
                    </li>
                    <li>
                      <a href="" ng-click="delete(x)" title="Delete"><i class="fa fa-trash-o"></i></a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>


        
        
            
      </div>      
      <div class="panel-footer">
        <button type="button" ng-click="close()" class="btn btn-default btn-sm">Close</button>
      </div>
      
    </div>
  </div>                
</div>


