
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-info panel-modal">
      <div class="panel-heading">
        
      </div>
      <div class="panel-body">
        <p>Date: <span ng-bind-html="item.date_created"></span></p>        
        <p>Name: <span ng-bind-html="item.fullname"></span></p>        
        <p>Email: <span ng-bind-html="item.email"></span></p>        
        <p>Contact: <span ng-bind-html="item.contactNumber"></span></p>
        <hr></hr>      
        <span ng-bind-html="item.msg"></span>
      </div>      
      <div class="panel-footer">
        <button type="button" ng-click="close()" class="btn btn-default btn-sm">Close</button> 
      </div>      
    </div>
  </div>                
</div>


