
<div class="row">
  <div class="col-lg-12">
  <div class="panel panel-info panel-modal">
     
      <div class="panel-body modal-h">   
        <div class="row">
          <div class="col-sm-12">
            <a href="" class="r-s" ng-click="close()">
              <img style="width:50px;" src='../../public/img/icons/close.png' alt='Close' />
            </a>
          </div>   
        </div>   

        <div id='carousel-custom' class='carousel slide' data-ride='carousel'>
          <div class="row">
            <div class="col-sm-12">
              <!-- Indicators -->
              <ol class='carousel-indicators mCustomScrollbar'>
                <li data-target='#carousel-custom' data-slide-to='{[{x.num}]}' ng-repeat="x in imgFiles" ng-class='{active:$first}'>
                  <img style="width:100px;" src='../../public/uploads/{[{x.real_state_id}]}/{[{x.file_name}]}' alt='' />
                </li>
              </ol>
            </div>
            <div class="col-sm-7">
              <div class='carousel-outer'>
                <!-- Wrapper for slides -->
                <div class='carousel-inner'>
                  <div ng-class='{active:$first}' class='item' ng-repeat="x in imgFiles">
                    <img style="width:100%;" src='../../public/uploads/{[{x.real_state_id}]}/{[{x.file_name}]}' alt='' />
                  </div>
                </div>

                <!-- Controls -->
                <a class='left carousel-control' data-target='#carousel-custom' data-slide='prev' ng-non-bindable>
                  <span class='glyphicon glyphicon-chevron-left'></span>
                </a>
                <a class='right carousel-control' data-target='#carousel-custom' data-slide='next' ng-non-bindable>
                  <span class='glyphicon glyphicon-chevron-right'></span>
                </a>
              </div>
            </div>
            <div class="col-sm-5">
              <h4>Property Details</h4>
              <p ng-bind="data.title"></p>
              <p ng-bind="data.type"></p>
              <p>
                <i class="fa fa-map-marker"></i> <span ng-bind="data.address"></span>
              </p> 

              <p ng-if="data.discounted_price !== 0">
                Price: PHP <span ng-bind="data.orig_price | number"></span>
              </p>  
              <p ng-if="data.discounted_price > 0">
                Original Price: PHP <span ng-bind="data.orig_price | number"></span>
              </p>               
              <p ng-if="data.discounted_price > 0">
                Discounted Price: PHP <span ng-bind="data.discounted_price | number"></span>
              </p>  
              <hr>             
              <span ng-bind-html="data.description"></span> 
              <hr>  
              <div id="googleMapProp" style="width:100%;height:280px;"></div>
            </div>
          </div>
        </div> 


      </div> 
      
    </div>
  </div>                
</div>


