
<div class="row">
  <div class="col-lg-12">
  <div class="panel panel-info panel-modal">
      
      <div class="panel-body modal-h1">      

        <div class="row">

          <div class="col-sm-12">
            <a href="" class="r-s" ng-click="close()">
              <img style="width:50px;" src='../../public/img/icons/close.png' alt='Close' />
            </a>
          </div>
          <div class="col-sm-3">
            <img style="width:100px;" src='../../public/uploads/adds/{[{dataAdds.image}]}' alt='' />
          </div>
          <div class="col-sm-9">
            <h3 ng-bind="dataAdds.title"></h3>
            <span ng-bind-html="dataAdds.description"></span>
          </div>
        </div>

      </div>  
      
    </div>
  </div>                
</div>


